In [1]:
import tabula
import pandas as pd

In [2]:
# Obtendo as notas objetivas:
objetivas = tabula.read_pdf("objetivas_brb.pdf", pages='all', lattice=True, encoding='latin-1', multiple_tables=False)

In [3]:
df_obj = pd.DataFrame()

for item in objetivas:
    df_obj = pd.concat([df_obj, pd.DataFrame(item)], axis =0)

In [4]:
df_obj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2746 entries, 0 to 2745
Data columns (total 19 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Inscrição                                                2744 non-null   float64
 1   Candidato                                                2744 non-null   object
 2   PcD?                                                     2744 non-null   object
 3   PNP?                                                     2744 non-null   object
 4   Hipo?                                                    2744 non-null   object
Prova                                            2746 non-null   object
 6   Pontuação Final na Prova Objetiva                        2746 non-null   object
Objetiva                             2745 non-null   object
a Etapa da Prova Objetiva  2745 non-null   object
 9   Convocado para a Etapa da Prova Discursiva               2745 non-null   object
 10  Unnamed: 10                                              2745 non-null   object
 11  Unnamed: 11                                              2745 non-null   object
 12  Unnamed: 12                                              2745 non-null   object
 13  Unnamed: 13                                              2745 non-null   object
 14  Unnamed: 14                                              2745 non-null   object
 15  Unnamed: 15                                              2745 non-null   object
 16  Unnamed: 16                                              2745 non-null   object
 17  Unnamed: 17                                              2744 non-null   object
 18  Unnamed: 18                                              2744 non-null   object
dtypes: float64(1), object(18)
memory usage: 407.7+ KB

In [5]:
df_obj.head()

,Inscrição,Candidato,PcD?,PNP?,Hipo?,Tipo de\rProva,Pontuação Final na Prova Objetiva,Nota Final na\rProva\rObjetiva,Classificação Provisória após\ra Etapa da Prova Objetiva,Convocado para a Etapa da Prova Discursiva,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,NaN,NaN,Conhecimentos Gerais,Conhecimentos\rEspecíficos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Acertos em\rCG,Pontos em\rCG,Acertos em\rCE,Pontos em\rCE,Ampla concorrência,PcD,PNP,Hipossuficente,Ampla Concorrência,PcD,PNP,Hipossuficiente,NaN,NaN
2,299138377.0,GUILHERME MOURA AFONSO DA SILVA,-,-,-,C,24,"24,82",23,"25,55","50,37",1,-,-,-,Sim,-,-,-
3,299115340.0,LEONARDO GUERREIRO CARVALHO,-,-,-,A,25,"25,85",21,"23,33","49,18",2,-,-,-,Sim,-,-,-
4,299142358.0,ARTHUR SCHOUERI COLACO,-,-,-,C,26,"26,88",20,"22,22","49,10",3,-,-,-,Sim,-,-,-

In [6]:
# Obtendo os aprovados (DA AMPLA CONCORRÊNCIA) que tiveram a redação corrigida:
aprovados_objetiva = df_obj[df_obj['Unnamed: 15']== 'Sim']

In [7]:
aprovados_objetiva = aprovados_objetiva[['Inscrição', 'Candidato', 'Unnamed: 10']]

In [8]:
# Limpando os dados:
aprovados_objetiva.rename(columns={'Unnamed: 10': 'Nota_Final_Objetiva'}, inplace=True)

In [10]:
aprovados_objetiva['Nota_Final_Objetiva'] = aprovados_objetiva['Nota_Final_Objetiva'].str.replace(',','.')
aprovados_objetiva['Nota_Final_Objetiva'] = aprovados_objetiva['Nota_Final_Objetiva'].astype(float)

In [13]:
aprovados_objetiva['Inscrição'] = aprovados_objetiva['Inscrição'].astype(int).astype(str)

In [16]:
aprovados_objetiva.reset_index(drop=True, inplace=True)

In [17]:
aprovados_objetiva.index = aprovados_objetiva.index+1

In [18]:
aprovados_objetiva.head()

   Inscrição                        Candidato  Nota_Final_Objetiva
1  299138377  GUILHERME MOURA AFONSO DA SILVA                50.37
2  299115340      LEONARDO GUERREIRO CARVALHO                49.18
3  299142358           ARTHUR SCHOUERI COLACO                49.10
4  299193920  ANTONIO CARLOS PRADO DE ANDRADE                48.22
5  299133873       ANDERSON DE ALMEIDA SANTOS                48.22

In [40]:
aprovados_objetiva.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 1 to 980
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Inscrição            980 non-null    object
 1   Candidato            980 non-null    object
 2   Nota_Final_Objetiva  980 non-null    float64
dtypes: float64(1), object(2)
memory usage: 23.1+ KB

In [67]:
# aprovados_objetiva.loc[aprovados_objetiva['Candidato'] == 'SEU NOME AQUI']

In [21]:
discursivas = tabula.read_pdf("discursiva_brb.pdf", pages='all', lattice=True, encoding='latin-1', multiple_tables=False)

In [22]:
df_disc = pd.DataFrame()

for item in discursivas:
    df_disc = pd.concat([df_disc, pd.DataFrame(item)], axis =0)

In [23]:
df_disc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1305 entries, 0 to 1304
Data columns (total 15 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
Vaga                                      1269 non-null   object
 1   Inscrição                                           1269 non-null   object
 2   Nome do Candidato                                   1269 non-null   object
 3   PcD ?                                               1269 non-null   object
 4   PNP ?                                               1269 non-null   object
 5   Hipo?                                               1270 non-null   object
 6   Pontuação Preliminar nos Itens da Prova Discursiva  1305 non-null   object
Discursiva             1305 non-null   object
prova Discursiva             1305 non-null   object
 9   Unnamed: 9                                          1270 non-null   object
 10  Unnamed: 10                                         1270 non-null   object
 11  Unnamed: 11                                         1270 non-null   object
 12  Unnamed: 12                                         1269 non-null   object
 13  Unnamed: 13                                         1234 non-null   object
 14  Unnamed: 14                                         1234 non-null   object
dtypes: object(15)
memory usage: 153.1+ KB

In [29]:
df_disc.head()

,Código\rda\rVaga,Inscrição,Nome do Candidato,PcD ?,PNP ?,Hipo?,Pontuação Preliminar nos Itens da Prova Discursiva,Pontuação\rPeliminar na\rProva\rDiscursiva,Situação Preliminar na\rprova Discursiva,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,TX,AR,CC,EC,NE,TL,DCE,NaN,NaN,NaN
1,201,0299111815,ABBDHUL PINEHIRO MENDES,-,Sim,-,-,-,-,-,-,3,"0,00","0,00",Eliminado itens 16.9
2,201,0299178430,ABEL SANTIAGO SANTOS,-,-,Sim,"2,00","2,00","2,00","2,00",6,30,"8,00","7,60",Aprovado
3,201,0299113435,ABNER MICHEL NUNES BARBOSA,-,-,-,"2,00","2,00","2,50","2,50",6,29,"9,00","8,58",Aprovado
4,201,0299183260,ABNER ROBERTI MALVEZZI,-,-,-,"2,00","2,00","1,50","1,50",4,27,"7,00","6,70",Aprovado

In [24]:
aprovados_disc = df_disc[df_disc['Unnamed: 14']== 'Aprovado']

In [27]:
aprovados_disc = aprovados_disc[['Inscrição', 'Unnamed: 13']]

In [28]:
# Limpando os dados:
aprovados_disc.rename(columns={'Unnamed: 13': 'Nota_Preliminar_Discursiva'}, inplace=True)

C:\Users\tiago\AppData\Local\Temp\ipykernel_17116\1756234662.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aprovados_disc.rename(columns={'Unnamed: 13': 'Nota_Preliminar_Discursiva'}, inplace=True)

In [33]:
aprovados_disc['Nota_Preliminar_Discursiva'] = aprovados_disc['Nota_Preliminar_Discursiva'].str.replace(',','.')
aprovados_disc['Nota_Preliminar_Discursiva'] = aprovados_disc['Nota_Preliminar_Discursiva'].astype(float)

C:\Users\tiago\AppData\Local\Temp\ipykernel_17116\1552852559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aprovados_disc['Nota_Preliminar_Discursiva'] = aprovados_disc['Nota_Preliminar_Discursiva'].str.replace(',','.')
C:\Users\tiago\AppData\Local\Temp\ipykernel_17116\1552852559.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aprovados_disc['Nota_Preliminar_Discursiva'] = aprovados_disc['Nota_Preliminar_Discursiva'].astype(float)

In [35]:
aprovados_disc['Inscrição'] = aprovados_disc['Inscrição'].astype(int).astype(str)

C:\Users\tiago\AppData\Local\Temp\ipykernel_17116\3611258321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aprovados_disc['Inscrição'] = aprovados_disc['Inscrição'].astype(int).astype(str)

In [37]:
aprovados_disc.head()

   Inscrição  Nota_Preliminar_Discursiva
2  299178430                        7.60
3  299113435                        8.58
4  299183260                        6.70
5  299114093                        6.03
6  299103722                        6.10

In [36]:
aprovados_disc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 895 entries, 2 to 1304
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Inscrição                   895 non-null    object
 1   Nota_Preliminar_Discursiva  895 non-null    float64
dtypes: float64(1), object(1)
memory usage: 21.0+ KB

In [58]:
resultado_preliminar = aprovados_objetiva.merge(aprovados_disc, how='inner', on='Inscrição')

In [59]:
resultado_preliminar

,Inscrição,Candidato,Nota_Final_Objetiva,Nota_Preliminar_Discursiva
0,299138377,GUILHERME MOURA AFONSO DA SILVA,50.37,6.38
1,299115340,LEONARDO GUERREIRO CARVALHO,49.18,6.80
2,299193920,ANTONIO CARLOS PRADO DE ANDRADE,48.22,6.33
3,299133873,ANDERSON DE ALMEIDA SANTOS,48.22,6.50
4,299100159,DANIEL REIS AGUIAR,48.07,7.10
...,...,...,...,...
733,299101431,LUCIANA PILONI XAVIER,36.39,7.23
734,299140180,MICHELLE FERREIRA DOS ANJOS MACEDO,36.39,6.66
735,299147666,GIULIA MARIA FROTA TEIXEIRA,36.39,7.87
736,299151927,IAN DUARTE DO PATEO,36.39,6.54
737,299102946,VINICIUS BENTO BEZERRA,36.39,7.08

In [41]:
# Observe que temos 980 aprovados na ampla concorrência que tiveram a redação corrigida,
# Por outro lado, tivemos 895 candidatos aprovados na prova discursiva, incluindo candidatos da ampla, pnp, pcd e hipossuficientes.

# A quantidade total de aprovados na ampla foi de 738 candidatos.

In [60]:
resultado_preliminar['NPF'] = resultado_preliminar['Nota_Final_Objetiva'] + resultado_preliminar['Nota_Preliminar_Discursiva']

In [61]:
resultado_preliminar = resultado_preliminar.sort_values('NPF', ascending=False).reset_index(drop=True)

In [62]:
resultado_preliminar.index = resultado_preliminar.index + 1

In [63]:
resultado_preliminar

,Inscrição,Candidato,Nota_Final_Objetiva,Nota_Preliminar_Discursiva,NPF
1,299138377,GUILHERME MOURA AFONSO DA SILVA,50.37,6.38,56.75
2,299113435,ABNER MICHEL NUNES BARBOSA,47.99,8.58,56.57
3,299115340,LEONARDO GUERREIRO CARVALHO,49.18,6.80,55.98
4,299125869,MATHEUS HENRIQUE MOTA MOREIRA,47.04,8.86,55.90
5,299126539,ANDERSON FILIPE GOMES DE PAIVA,46.96,8.36,55.32
...,...,...,...,...,...
734,299145428,MAXWEEL ANDERSON TENORIO XAVIER,36.47,6.08,42.55
735,299170618,LUNA ARIELA TRINDADE ARAUJO,36.54,6.00,42.54
736,299140804,CLEDSON COELHO BERNARDES,36.47,6.06,42.53
737,299145606,ISABELA LIVINGSTONE DOS SANTOS,36.39,6.12,42.51
738,299113155,MARIO FRANCISCO DOS SANTOS FILHO,36.39,6.12,42.51

In [64]:
resultado_preliminar.loc[resultado_preliminar['Candidato'] == 'TIAGO CAMARA DE OLIVEIRA LIMA']

,Inscrição,Candidato,Nota_Final_Objetiva,Nota_Preliminar_Discursiva,NPF
86,299119541,TIAGO CAMARA DE OLIVEIRA LIMA,42.9,7.41,50.31

In [68]:
resultado_preliminar.head()

,Inscrição,Candidato,Nota_Final_Objetiva,Nota_Preliminar_Discursiva,NPF
1,299138377,GUILHERME MOURA AFONSO DA SILVA,50.37,6.38,56.75
2,299113435,ABNER MICHEL NUNES BARBOSA,47.99,8.58,56.57
3,299115340,LEONARDO GUERREIRO CARVALHO,49.18,6.80,55.98
4,299125869,MATHEUS HENRIQUE MOTA MOREIRA,47.04,8.86,55.90
5,299126539,ANDERSON FILIPE GOMES DE PAIVA,46.96,8.36,55.32

In [72]:
resultado_preliminar.to_csv('resultado_preliminar_brb.csv')
resultado_preliminar.to_excel('resultado_preliminar_brb.xlsx')